
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Biletim Giriş Yap</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/css/login.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    <!--! header section start -->
    @Html.Partial("_navbar")
    <!--! header section end -->

    <div class="toast-container"></div>
    <div id="body-second">
        <div class="wrapper">
            <form action="">
                <h1 id="change">Giriş Yap</h1>
                <div class="input-box" id="kullaniciadi">
                    <input type="text" placeholder="Kullanıcı adı" required>
                    <i class='bx bx-user'></i>
                </div>
                <div class="input-box" id="sifre">
                    <input type="password" placeholder="Şifre" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Beni hatrıla</label>
                    <a href="forgotpassword.html">Şifrem nereye gitti?</a>
                </div>

                <button type="submit" class="btn" onclick="checkFunction()">Giriş</button>

                <div class="register-link">
                    <p>Hesabın yok mu? Eğlenceyi kaçırma <a href="register.html">Kayıt ol!</a></p>
                </div>
            </form>
        </div>
    </div>
    <div class="login-bottom-space"></div>

    <!--! footer section start -->
    @Html.Partial("_footer")
    <!--! footer section end -->

    <script src="js/login.js"></script>
</body>
</html>