
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Biletim Giriş Yap</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/css/login.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>



<body class="login-body">
    <header class="header-login">
        <a href="main.html" class="logo">
            <img src="images/logo.png" alt="logo" />
        </a>
        <nav class="navbar">
            <a href="#">Konser </a>
            <a href="#">Tiyatro</a>
            <a href="#">Film</a>
            <a href="#">Bilet Al </a>
            <a href="contact.html">İletişim </a>
        </nav>
        <div class="buttons">
            <button>
                <a href="login.html"><i class="fa-regular fa-user" style="color: #000000;"></i></a>
            </button>
            <button>
                <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
            </button>
        </div>
    </header>
    <div class="toast-container"></div>
    <div id="body-second">
        <div class="wrapper">
            <form action="">
                <h1 id="change">Giriş Yap</h1>
                <div class="input-box" id="kullaniciadi">
                    <input type="text" placeholder="Kullanıcı adı" required>
                    <i class='bx bx-user'></i>
                </div>
                <div class="input-box" id="sifre">
                    <input type="password" placeholder="Şifre" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Beni hatrıla</label>
                    <a href="forgotpassword.html">Şifrem nereye gitti?</a>
                </div>

                <button type="submit" class="btn" onclick="checkFunction()">Giriş</button>

                <div class="register-link">
                    <p>Hesabın yok mu? Eğlenceyi kaçırma <a href="register.html">Kayıt ol!</a></p>
                </div>
            </form>
        </div>
    </div>
    <div class="login-bottom-space"></div>
    <!--! footer section start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Kurumsal</h4>
                    <ul>
                        <li><a href="contact.html">Kişisel Verilerin Korunması</a></li>
                        <li><a href="contact.html">Sözleşme ve Politikalar</a></li>
                        <li><a href="contact.html">Entegre Yönetim Sistemi Politikası</a></li>
                        <li><a href="contact.html">Hakkımızda</a></li>
                        <li><a href="contact.html">Müşteri Hizmetleri</a></li>
                        <li><a href="contact.html">Çerez Aydınlatma Metni</a></li>
                        <li><a href="contact.html">Online Ödeme Koşulları</a></li>
                        <li><a href="contact.html">İletişim</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Yardım</h4>
                    <ul>
                        <li><a href="contact.html">SSS</a></li>
                        <li><a href="contact.html">İptal,İade ve Değişim</a></li>
                        <li><a href="contact.html">Nasıl Bilet Alınır</a></li>
                        <li><a href="contact.html">Biletinizi Mi Kaybettiniz?</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Bizimle Çalışın</h4>
                    <ul>
                        <li><a href="contact.html">İş Başvurusu</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Sosyal Medya</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a> ,
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!--! footer section end -->

</body>




<script src="js/login.js"></script>
</html>