<header class="header-login">
    <a href="main.html" class="logo">
        <img src="images/logo.png" alt="logo" />
    </a>
    <nav class="navbar">
        <a href="#">Konser </a>
        <a href="#">Tiyatro</a>
        <a href="#">Film</a>
        <a href="#">Bilet Al </a>
        <a href="contact.html">İletişim </a>
    </nav>
    <div class="buttons">
        <button>
            <a href="login.html"><i class="fa-regular fa-user" style="color: #000000;"></i></a>
        </button>
        <button>
            <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
        </button>
    </div>
</header>
